
body {
    background-image: url('./images/tiger2-min.png');
    background-repeat: repeat;
    background-size: auto;
    line-height: 2.5rem;
}


header{
    background-image: url('./images/tiger-eyes-min.jpg');
    background-repeat: no-repeat;
    height: 55vw;
    border-bottom: none;
    background-size: 100vw;

    padding-top: 2%;
}

.navbar {
    background-color: darkorange;
}


.nav-link{
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    padding-left: 2%;
    float: left;
    font-family: 'Pangolin', cursive;
}

.title-container {
    margin-top: 5%;
}

.title {
    color: white;
    text-align: center;
    font-size: 5rem;
    font-family: 'Pangolin', cursive;
}


/** Section formating */
section {
    padding: 5%;
    background-color: white;
    opacity: 0.95;
    margin-top: 5%;
    border: 0.2rem solid black;
    box-shadow: 1rem 5rem 30rem black;
}


.section-heading {
    text-align: center;
    background-color: darkorange;
    color: white;
    font-family: 'Pangolin', cursive;
    font-size: 2rem;
    padding: 1%;
    text-align: center;
}

.subsection-heading {
    font-style: italic;
    color: darkorange;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-align: center;
}

.section-content{
    text-align: justify;
    font-size: 1rem;
    font-family: 'Crimson Text', serif;
}


.next-section {
    cursor: pointer;
    display: inline-block;
}



.jumbotron-bottom {
    margin-top: 5%;
    margin-bottom: 0%;
    background-color: black;
}



.newsletter-container{
    text-align: center;
    align-content: center;
    padding: 1%;
    font-family: 'Pangolin', cursive;
}

.newsletter-heading {
    text-align: center;
    color: darkorange;

    padding: 1%;
}

.btn-subscribe {
  background-color: darkorange;
  color: white;
  font-family: 'Pangolin', cursive;
}

.btn-subscribe:hover {
  background-color: orange;
  color: black;
}

.other-content {
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    color: darkorange;
}


.form-label, .form-group {
    text-align: left !important;
    font-weight: bold;
}


.row {
    text-align: center;
}



#subscribe-btn {
    text-align: center;
}

.scale {
    width: 100%;
    height: 100%;
}

.orange, .white {
    font-weight: bold;
    text-align: center;
}

.orange {
    color: darkorange;
}

.white {
    color: white;
}

.donation-container {
    text-align: left;
}


.donate {
    position: relative;
    display: inline-block;
    border: 0.1rem solid darkorange;

    width: 5rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
}

.donate:hover{
    background-color: darkorange;
    color: white;
}

#five:active {
    background-color: black;
}

input[type=text], input[type=date] {
    border: 0.15rem solid darkorange;
    color: black;
}

.hide {
    display: none;
}
.show {
    display: block;
}



/*
// Stripe js css
*/

form {
  width: 480px;
  margin: 20px auto;
}

label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

label > span {
  float: left;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #F99A52;
}

button {
  float: left;
  display: block;
  background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
  color: white;
  border-radius: 24px;
  border: 0;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
}

button:focus {
  background: #EF8C41;
}

button:active {
  background: #E17422;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #F8B563;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}
